<div class="jumbotron">
<h1 class=""text-center><i class="fa fa-circle-o-notch"></i>☯18thBDAY☯۞BUSCHKOPFSTYLE۞</h1>
<p>this is my smart Ruby on Rails Page Application</p>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
<h1><i class="glyphicon glyphicon-star"></i></h1>
</div>